asgiref==3.8.1                                                                                                                                       
backports.zoneinfo==0.2.1
Django==4.2.30
django-debug-toolbar==4.4.6
django-jquery==3.1.0
django-jquery-ui==1.11.4.1
django-resized==1.0.3
django-taggit==6.1.0
easy-thumbnails==2.9
importlib_metadata==8.5.0
Markdown==3.7
numpy==1.24.4
pillow==10.4.0
psycopg==3.2.13
psycopg-binary==3.2.13
psycopg2==2.9.10
psycopg2-binary==2.8
pytz==2026.1.post1
sqlparse==0.5.5
typing_extensions==4.13.2
tzdata==2025.3
zipp==3.20.2
