{% load my_tags %}
<div class="cart-container">
    {% with item_count=cart|length %}
    <a href="{% url 'cart:cart-detail' %}" class="cart-link">
        <div class="cart-info-container">
            <span class="cart-icon">🛒</span>
            <span class="cart-info">
                 <span id='item_count' class="item-count">{{ item_count }}</span> items, <span id='total_price' class="total-price">{{ cart.get_total_price|intcomma }}</span>
            </span>
        </div>
    </a>
    {% endwith %}
    <div class="search-box">
        {% include 'forms/searchbox.html' %}
    </div>
    <hr>
    <div class="header-links">
        <a href="{% url 'shop:product-list' %}">محصولات</a>
        {% if user.is_authenticated %}
        |
         <a href="{% url 'account:logout' %}">خروج</a>
         {% if user.is_superuser %}
        |
        <a href="{% url 'admin:index' %}">پنل ادمین</a>
        {% endif %}
        {% else %}
        |
        <a href="{% url 'account:login' %}">ورود</a>
        |
        <a href="{% url 'account:user-register' %}">ثبت نام</a>
        {% endif %}
    </div>
    <hr>
</div>
