{% block title %}Reset Password{% endblock %}
{% block content %}
    <h2>Reset Password</h2>
    <p>Please enter the email that you used for registration:</p>

    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Confirm">
    </form>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <ul>
                    <li>{{ message }}</li>
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}


{% endblock %}
